<ul>
    <li><strong>Nombre: </strong>{{ contacto.nombre }}</li>
    <li><strong>Teléfono: </strong>{{ contacto.telefono }}</li>
    <li><strong>Correo: </strong>{{ contacto.email }}</li>

    {% if contacto.provincia %}
        <li><strong>Provincia: </strong>{{contacto.provincia.nombre}} </li>
    {% endif %}
</ul>