{% extends 'base.html.twig' %}
{% block title %}Nuevo contacto{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1>Nuevo contacto</h1>

        {# El formulario con el atributo novalidate para que las validaciones las haga el servidor (nuestra aplicacion) y no el navegador #}
        {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(formulario) }}
        {{ form_end(formulario) }}
    </div>
{% endblock %}
